<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyNoise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0ADF3F371E58C18200143B8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ADF3F4B1E58C18200143B8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ADF3F561E58C18200143B8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
